@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #1e1e1e;
    --color-primary-text: #ffffff;
    --color-second-text: #797979;
    --color-third-text: #1e51ee;
    --color-secondary: #2c2c2c;
    --color-third: #333;
    --color-four: #08f7fe;
    --color-five: #06c4d3;

    --color-input: #6a7282;
    --color-input-focus: #53eafd;
    --color-input-invalid: #e7000b;
    --color-input-shadow: #0092b8;

    --color-like: #ff0000;

    --shadow-input-auth: 0px 0px 8px;

    --default-transition-duration: 300ms;
}

.ligth {
    --color-primary: #ffffff;
    --color-primary-text: #000000;
    --color-second-text: #505050; 
    --color-third-text: #1e51ee; 
    --color-secondary: #e9e9e9; 
    --color-third: #cfcfcf;
    --color-four: #029db1; 
    --color-five: #029db1; 

    --color-input: #029db1;
    --color-input-focus: #53eafd; 
    --color-input-invalid: #e7000b;
    --color-input-shadow: #0092b8;
}

.dark {
    --color-primary: #1e1e1e;
    --color-primary-text: #ffffff;
    --color-second-text: #797979;
    --color-third-text: #1e51ee;
    --color-secondary: #2c2c2c;
    --color-third: #333;
    --color-four: #08f7fe;
    --color-five: #06c4d3;

    --color-input: #6a7282;
    --color-input-focus: #53eafd;
    --color-input-invalid: #e7000b;
    --color-input-shadow: #0092b8;
}